.header {
    background-color: white;
    display: flex;
    align-items: center;
    height: 45px;
    padding: 5px;
    .logo {
        display: flex;
        align-items: center
    }
    .logoText {
        margin-left: 10px;
        color: #193fb4;
    }
}
.header img {
    width: 30px;
}

.loginBlock {
    float: right;
    .loginText {
        margin-right: 10px;
        color: #193fb4;
    }
    .login {
        color: #193fb4;

    }
}