.nav {
    background-color: #1A40B4;
    margin-top: 80px;
    .navBlock {
        padding: 10px 20px;
        margin: 5px 0 10px 5px;
        background-color: hsla(0,0%,100%,.2);
        display: flex;
        align-items: center;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        .icon {
            color: white;
            cursor: pointer;
            margin-right: 5px;
        }
        .iconText {
            color: white;
            cursor: pointer;
        }
    }
}
a {
    color: black;
    &.active {
        color: gold !important;
    }
}


