
.main {
	margin-left: 10px;
}
.profileInfo {
}
.jobBlock {
	position: relative;
}
.iconJobBlock {
	position: absolute;
	left: 170px;
	top: -92px;
}
.icon {
	width: 140px;
}
.name {
	color: blue;
}
.socialIcons {
	width: 35px;
	margin-left: 3px;
}
a {
	text-decoration: none;
}