
.main {
	padding: 10px;
	background: white;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

}
.imgBlock {
	text-align: center;
	position: relative;
	.img {
		width: 120px;
		border-radius: 50%;
		border: 2px solid #ECF1F5;
	}
	.fileBlock {
		position: absolute;
		bottom: 0;
		left: 55%;
		input{
			display: none;
		}
		label {
			cursor: pointer;
			color: #1A40B4;
		}
	}
}

.jobBlock {
	position: relative;
}
.iconJobBlock {
	position: absolute;
	left: 170px;
	top: -92px;
}
.icon {
	width: 140px;
}
.name {
	color: #1A40B4;
}
.socialIcons {
	width: 35px;
	margin-left: 3px;
}
a {
	text-decoration: none;
}